/* This file containes all of the formatting properties for the RLCS-esque Overlay 
    Author: Caustic
    Creation Date: 4/6/22
    Last Updated: 4/13/22
*/

/* Container to hold images and text to go over it */
.container {
    position: fixed;
}

/* Container for player card that is hidden by default, should only pop up when a player is targeted */
.sneakyContainer {
    position: fixed;
}

/* Text alterations to center on the baseline as well as set color and weight */
.tournamentLine {
    position: absolute;
    top: 0;
    left: 685;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #0E86C8;
}

/* Clock Formatting */
.clock {
    position: absolute;
    top: 15;
    left: 900;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 55px;
    text-align: center;
    line-height: 103px;
    color: white;
}

/* Left Team Score Format */
.leftTeamScore {
    position: absolute;
    top: 15;
    left: 820;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 65px;
    text-align: center;
    line-height: 103px;
    color: white;
}

/* Right Team Score Format */
.rightTeamScore {
    position: absolute;
    top: 15;
    right: 820;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 65px;
    text-align: center;
    line-height: 103px;
    color: white;
}

/* Focus Player Card Formatting */
.targetPlayerCard {
    position: absolute;
    bottom: 0;
    left: 10;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerScoreTitle {
    position: absolute;
    bottom: 0;
    left: 200;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerScore {
    position: absolute;
    bottom: 0;
    left: 275;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerGoalsTitle {
    position: absolute;
    bottom: 0;
    left: 345;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerGoals {
    position: absolute;
    bottom: 0;
    left: 390;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerAssistsTitle {
    position: absolute;
    bottom: 0;
    left: 435;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerAssists {
    position: absolute;
    bottom: 0;
    left: 480;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerShotsTitle {
    position: absolute;
    bottom: 0;
    left: 520;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerShots {
    position: absolute;
    bottom: 0;
    left: 565;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerSavesTitle {
    position: absolute;
    bottom: 0;
    left: 605;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerSaves {
    position: absolute;
    bottom: 0;
    left: 650;
    font-family: 'Trebuchet MS';
    font-size: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    color: black;
}

.targetPlayerDetailLine{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 775px;
    height: 5px;
    color: black;
}



/* Left Team Boost Formatting */

.L1PlayerName {
    position: absolute;
    top: 11;
    left: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.L1BoostNumber {
    position: absolute;
    top: 13;
    left: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

/* not working yet */
.L1BoostBarContainer {
    position: absolute;
    top: 51;
    left: 0;
    width: 308px;
    height: 3px;
    background-color: gray;
}
/* not working yet */
.L1BoostBar {
    position: relative;
    display: block;
    height:100%;
    width:100%;
    background-color: red;
}

.L2PlayerName {
    position: absolute;
    top: 61;
    left: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.L2BoostNumber {
    position: absolute;
    top: 61;
    left: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.L3PlayerName {
    position: absolute;
    top: 109;
    left: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.L3BoostNumber {
    position: absolute;
    top: 109;
    left: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

/* Right Team Boost Formatting */
.R1PlayerName {
    position: absolute;
    top: 13;
    right: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.R1BoostNumber {
    position: absolute;
    top: 13;
    right: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.R2PlayerName {
    position: absolute;
    top: 61;
    right: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.R2BoostNumber {
    position: absolute;
    top: 61;
    right: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}

.R3PlayerName {
    position: absolute;
    top: 109;
    right: 5;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 25px;
    color: white;
}

.R3BoostNumber {
    position: absolute;
    top: 109;
    right: 240;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 30px;
    color: white;
}
